.menu {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-menu='menu-list'] {
  display: flex;
  align-items: center;
  gap: 30px;
}

[data-menu='menu-list'] a {
  color: var(--cor-secundaria);
  font-weight: 500;
}

[data-menu='menu-list'] a:hover{
  transition: .2s;
  color: var(--cor-principal);
  position: relative;
}

[data-menu='menu-list'] a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 103%;
  height: 3px;
  background-color: var(--cor-principal);
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

[data-menu='menu-list'] a:hover::after {
  transform: scaleX(1);
}

[data-menu='button'] {
    display: none;
}

@media (max-width: 550px) {
  [data-menu="button"] {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    background-color: var(--cor-principal);
    border: none;
    z-index: 300;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
  }

  [data-menu="button"]:hover {
    transition: .2s;
    background: #921414;
  }

  [data-menu="button"]::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
    width: 13px;
    background: #fff;
    box-shadow: 0 5px #fff, 0 -4px #fff;
  }

  [data-menu="menu-list"].ativo {
    display: block !important;
    position: absolute;
    background: #921414;
    padding: 35px;
    top: 135px;
    right: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-out;
    text-align: left;
    width: 100px;
    z-index: 400;
}

  [data-menu="menu-list"].ativo::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #921414;
  }   

  [data-menu="menu-list"].ativo li a{
    color: #fff;
  }

  [data-menu="menu-list"].ativo li {
    margin-top: 8px;
  }

  [data-menu='menu-list'] {
    display: none !important;
  }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
