.parceiros {
    margin-top: 50px;
}

.parceiros h1 {
    font-size: 2rem;
    color: var(--cor-principal);
}

.parceiros p {
    font-size: 1.25rem;
    color: var(--cor-secundaria);
    margin-top: 20px;
}

.lista {
    margin-top: 50px;
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.parceiros-lista {
    display: flex;
    gap: 100px;
    justify-content: center;
}

#image-list {
    display: flex;
    align-items: center;
    gap: 50px;
    width: max-content;
    animation: slide 10s linear infinite;
}

#image-list li {
    list-style: none;
    flex: 0 0 auto;
}

#image-list img {
    width: auto;
    height: 100px;
}

@media (max-width: 800px) {
    .parceiros h1 {
        font-size: 1.5rem;
    }

    .parceiros p {
        font-size: 1rem;
    }

    .parceiros-lista {
        gap: 20px;
    }

    #image-list img {
        width: auto;
        height: auto;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}